
html {
	height: 100%;
}

body {
	/*https://www.pexels.com/photo/computer-desk-electronics-keyboard-238118/*/
	background: #e9e8f0 url('../images/back.jpeg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

h1 {
	margin: 0;
}

.logo {
	padding-top: 1.5em;
	padding-left: 5%;
	font-size: 1.2em;
}

.adress {
	/*position: absolute;*/
	position: fixed;
	bottom: 0.2em;
	width: 50%;
	left: 5%;
	font-size: 0.7em;
	opacity: 0.8;
}

.adress > span {
	margin-right: 5%;
}

input[type="email"], input[type="text"] {
	text-align: center;
	border: 0px solid #fff;
	border-radius: 0.2em;
	margin-bottom: 0.5em;
	width: 100%;
	height: 2em;
	font: 1em Arial, sans-serif;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #ccc;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #ccc;
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: #ccc;
}

/*input[type="email"] {
	position: relative;
	right: 0;
}*/

a {
	text-decoration: none;
	user-select: none;
	outline: none; /* убирать контур в Mozilla */
	color: #777;
}

a:hover {
	color: #666;
}

/*.field {clear:both; text-align:right;}*/

.btn_set {
	/*display: block;*/
	text-align: center;
	/*vertical-align: middle;*/
	line-height: 2em;
	/*margin-left: 26%;*/
	/*padding: 0.75em 3em;*/
	border: 0px solid #fff;
	border-radius: 0.2em;
	background: #e7c36d;
	/*float: right;*/
	width: 100%;
	/*height: 2em;*/
	font: 1em Arial, sans-serif;
}

.btn_order {
	border: 0px solid #fff;
	border-radius: 0.2em;
	background: #93B393;
	/*float: right;*/
	width: 100%;
	/*height: 2em;*/
	color: #777;
	margin-bottom: 1em;
	line-height: 2em;
	font: 1em Arial, sans-serif;
	cursor: pointer;
}

.container {
	position: absolute;
	width: 45%;
	top: 45%;
	left: 5%;
	/*float: left;*/
}

iframe[name="templates"] {
	width: 50%;
	margin-bottom: 1em;
}

@media (max-width: 1200px) {
	iframe[name="templates"] {
		width: 75%;
	}
}

@media (max-width: 800px) {
	iframe[name="templates"] {
		width: 100%;
	}
}
